registry=https://registry.npmmirror.com
@radix-ui:registry=https://registry.npmmirror.com
@types:registry=https://registry.npmmirror.com
@hookform:registry=https://registry.npmmirror.com
tailwindcss:registry=https://registry.npmmirror.com
postcss:registry=https://registry.npmmirror.com
eslint:registry=https://registry.npmmirror.com